
::-webkit-scrollbar {
    height:8px;
    width:8px;
    background:rgba(200, 180, 180, 0.5);
    transition:all 0.3s ease-in-out;
    border-radius:5px;
}
::-webkit-scrollbar-button {
    display:none;
}
::-webkit-scrollbar-thumb {
    width:8px;
    min-height:15px;
    background:rgba(0, 0, 0, 0.2) !important;
    transition:all 0.3s ease-in-out;border-radius:5px;
}
::-webkit-scrollbar-thumb:hover {
    background:rgba(0, 0, 0, 0.5) !important;
}

body {
    margin: 0px;
    background-color: #888;
}

#App {
    overflow: hidden;
}

.qpf-ui-color{

    height:20px;

    .qpf-color-hex{
        border: none;
        color: #B6B6B6;
        float: left;
        height: 20px;
        line-height: 20px;
        margin-right: 10px;
        min-width: 80px;
    }

    .qpf-color-preview{
        width: 20px;
        height: 20px;
        cursor: pointer;
        float: left;
    }
}

#ViewPort {
    box-shadow: 0px 0px 10px #333;
}

#Materials {
    .qpf-panel-body {
        padding: 0px;
        overflow-y: scroll;
    }
}

#Configs {

    .qpf-ui-label {
        padding: 8px 4px;
        color:#646464;
    }
}

.qpf-ui-list {
    // background-color: white;
    color: #ccc;
    padding-top: 1px;
    .qpf-ui-list-item {
        padding:4px 5px;
        box-sizing:border-box;
        cursor:pointer;

        &.selected {
            background-color: #585858;
        }
    }
}

.qpf-ui-panel {
    .qpf-panel-header {
        border-top: none;
        box-shadow: none;
    }
}