body{
    margin:0px;
}
#render-info {
    position: absolute;
    right : 25px;
    top : 10px;
    width : 100px;
    padding : 10px;
    line-height: 24px;
    text-align: right;
    color:white;
}