body {
    margin:0px;
    background-image: url(wallpaper.jpg);
    background-size: cover
}
#App {
    width : 100%;
}

#HeroViewer {
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom: 0px;
}

#ViewPort {
    width : 100%;
    height : 100%;
}

#Actions .ui.button,
#Shadings .ui.button {
    text-transform:none;
    font-size: 14px;
}
#Actions {
    margin-top: 23px;
}

.sidebar{
    position: fixed;
}

.sidebar.left{
    left:0px;
}
.sidebar.right{
    right: 0px;
    width: 150px;
}

#Shadings {
    width: 150px;
    margin-top: 23px;
}